baseResources:
  ingress:
    host: frigate.paul-steele.com
    serviceName: frigate
    port: 8971
frigate:
  strategyType: Recreate
  image:
    repository: ghcr.io/blakeblackshear/frigate
    tag: 0.15.2
  envFromSecrets:
    - frigate-creds
  coral:
    enabled: true
    hostPath: /dev/bus/usb

  shmSize: 1Gi
  tmpfs:
    enabled: true
    sizeLimit: 1Gi

  # -- frigate configuration - see [Docs](https://docs.frigate.video/configuration/index) for more info
  config: |
    mqtt:
      host: "mosquitto-mosquitto"
      user: "{FRIGATE_MQTT_USER}"
      password: "{FRIGATE_MQTT_PASSWORD}"
    tls:
      enabled: False

    detectors:
      coral:
        type: edgetpu
        device: usb

    cameras:
      front_door:
        review:
          alerts:
            required_zones:
              - entry
        ffmpeg:
          inputs:
            - path: rtsp://{FRIGATE_RTSP_USER}:{FRIGATE_RTSP_PASSWORD}@192.168.1.6:554/stream1
              roles:
                - detect
                - rtmp
        motion:
          mask: 0.772,0,0.59,0.408,0.23,0.523,0,0.642,0,0
        zones:
          entry:
            coordinates: 
              0.464,0.659,0.401,0.672,0.418,0.802,0.396,0.93,0.178,0.892,0.08,1,1,1,1,0.968,0.844,0.864,0.59,0.651,0.526,0.656
            loitering_time: 0
    
    record:
      enabled: True
      retain:
        days: 0
      alerts:
        retain:
          days: 7
          mode: motion
  
  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 100Mi
      skipuninstall: true
      ephemeralWritableConfigYaml: true
    media:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      skipuninstall: true

  nodeSelector:
    node-role.kubernetes.io/control-plane: "" 

  tolerations: 
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node.kubernetes.io/unschedulable"
      operator: "Exists"
      effect: "NoSchedule"