{{- define "base.eventListeners" -}}
{{- range $index, $eventListener:= .Values.baseResources.eventListeners }}
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: {{ $eventListener.name }}
spec:
  serviceAccountName: ci-triggers
  triggers:
  {{- range $index, $trigger:= $eventListener.triggers }}
    - name: {{ $trigger.name }}
      interceptors:
        - github:
            secretRef:
              secretName: github-ci
              secretKey: secretToken
            eventTypes:
              - push
        - cel:
            filter: "body.repository.html_url == '{{ $trigger.url }}'"
      bindings:
        - name: github
          ref: github
          kind: ClusterTriggerBinding
      template:
        name: {{ $trigger.template }}
  {{- end }}
---
{{- end }}
{{- end -}}
