baseResources:
  ingress:
    host: passwords.paul-steele.com
    port: 80
    extraPaths:
      - port: 80
        path: /notifications/hub/negotiate
      - port: 3012
        path: /notifications/hub
  service:
    port: 80
    extraPorts:
      port: 3012
  deployment:
    containers:
    - image: bitwardenrs/server:1.14.1-alpine
      name: bitwarden
      envs:
      - name: SIGNUPS_ALLOWED
        value: 'false'
      - name: WEBSOCKET_ENABLED
        value: 'true'
      ports:
      - 80
      - 3012
      volumeMounts:
      - data
  cronjob:
    containers:
    - image: nouchka/sqlite3
      name: passworddump
      command:
      - sqlite3
      args:
      - /data/db.sqlite3
      - .backup '/backup/bitwarden.sq3'
      volumeMounts:
      - data
      - backup
    schedule: "0 1 * * 4"
  volumes:
  - name: data
    source:
      nfs: /volume1/files/bitwarden
    mountPath: /data
  - name: backup
    source:
      nfs: /volume1/files/database-backup/sqlite
    mountPath: /backup
